<?xml version="1.0" encoding="utf-8"?>
<!-- <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->
<hibernate-configuration>
    <session-factory>

        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">
            com.microsoft.sqlserver.jdbc.SQLServerDriver
        </property>

		<!-- Hưng -->
        <property name="hibernate.connection.url">
  		jdbc:sqlserver://MSI\SQLEXPRESS:1433;databaseName=ucop_edu;encrypt=true;trustServerCertificate=true;instance=SQLEXPRESS
        </property>

		<!-- Dũng 
        <property name="hibernate.connection.username">admin_java</property>
        <property name="hibernate.connection.password">123456</property>
		 -->
		 <!-- Hưng -->
		 <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">123</property>
        
        
        <!-- Hibernate config -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLServerDialect
        </property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- ================= ENTITY MAPPING ================= -->

        <!-- Account -->
        <mapping class="com.ucop.edu.entity.Account"/>
        <mapping class="com.ucop.edu.entity.AccountProfile"/>
        <mapping class="com.ucop.edu.entity.AuditLog"/>

        <!-- Category + Course -->
        <mapping class="com.ucop.edu.entity.Categories"/>
        <mapping class="com.ucop.edu.entity.Course"/>

        <!-- Cart -->
        <mapping class="com.ucop.edu.entity.Cart"/>
        <mapping class="com.ucop.edu.entity.CartItem"/>

        <!-- Order -->
        <mapping class="com.ucop.edu.entity.Order"/>
        <mapping class="com.ucop.edu.entity.OrderItem"/>

        <!-- Enrollment -->
        <mapping class="com.ucop.edu.entity.Enrollment"/>
        <mapping class="com.ucop.edu.entity.EnrollmentItem"/>

        <!-- Appointment -->
        <mapping class="com.ucop.edu.entity.Appointment"/>

        <!-- Payment / Refund -->
        <mapping class="com.ucop.edu.entity.Payment"/>
        <mapping class="com.ucop.edu.entity.Refund"/>

        <!-- Promotion -->
        <mapping class="com.ucop.edu.entity.Promotion"/>
        <mapping class="com.ucop.edu.entity.PromotionUsage"/>

        <!-- Stock / Wallet -->
        <mapping class="com.ucop.edu.entity.SeatStock"/>
        <mapping class="com.ucop.edu.entity.Wallets"/>

    </session-factory>
</hibernate-configuration>
